<div class="container d-flex justify-content-center">

</div>
<div class="container d-flex justify-content-center">
    <div class="col">
        <br/>
        <h1>{{product.productName}}</h1>
        <img src="{{product.productImage}}" class="image-size" alt="">
        <h3><strong>{{product.productName}}</strong></h3>
        <p>{{product.productDescription}}</p>
        <p><strong>Price:</strong> ${{product.unitPrice}}</p>
        <div class="col">
            <ng-container *ngIf="product.productStock > 0, else outOfStock">
                <div class="row-md">
                    <button class="btn btn-primary" (click)=addtocart(product)>Add to Cart</button>
                </div>
            </ng-container>
            <ng-template #outOfStock>
                <div class="row-md">
                    <button class="btn btn-danger" disabled>Out of Stock</button>
                </div>
            </ng-template>

            <br>
            <div class="row-md">
                <button class="btn btn-primary" (click)="goBack()">Back</button>
            </div>

        </div>

    </div>

    <br/>